<?xml version="1.0" encoding="UTF-8"?>
<template>
    ---json
    {
        "templating": {
            "extends": "templates/layouts/base.html"
        },
        "features": {
            "toolbar": {
                "enabled": false
            }
        },
        "styles": [
            "resources/css/fore.css",
            "resources/css/edep-theme.css",
            "resources/css/edep-theme2.css",
            "resources/css/geo-picker.css",
            "resources/css/zotero-autocomplete.css",
            "transform/edep.css",
            "resources/css/edit.css"
        ],
        "script": {
            "custom": [
                "resources/scripts/util.js"
            ]
        },
        "theme": {
            "layout": {
                "class": "editor-layout"
            }
        }
    }
    ---
    [% template scripts %]
    <script type="module" src="[[ $context-path ]]/resources/lib/fore.js"/>
    <script type="module" src="[[ $context-path ]]/resources/scripts/jinn-codemirror-bundle.js"/>
    <script type="module" src="[[ $context-path ]]/resources/scripts/edep-xml-editor.js"/>
    <script type="module" src="[[ $context-path ]]/resources/scripts/zotero-autocomplete.js"/>
    <script type="module" src="[[ $context-path ]]/resources/scripts/edep-icons.js"/>
    [% endtemplate %]

    <style>
        h2 { font-size: 1.5rem; }
        h3 { font-size: 1.25rem; }
        nav fx-output label { display: block; width: 100%; }
    </style>

<main id="main" class="editor">
                        <fx-fore show-confirmation="show-confirmation" id="epidoc-editor" create-nodes="create-nodes" no-check="no-check">
                            <fx-model>
                                <fx-action event="model-construct-done">
                                    <fx-send submission="s-login" if="instance('vars')/loggedin != 'true'"></fx-send>
                                    <!-- ### if get called with an id param we load the data via submission ### -->
                                    <fx-send
                                        submission="s-load-inscription"
                                        if="string-length(instance('params')/id) != 0"></fx-send>
                                    <fx-setvalue ref="instance('vars')/inited">true</fx-setvalue>
                                </fx-action>

                                <fx-instance
                                    id="default"
                                    src="templates/fore/epidoc-template.xml"
                                    xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>
                                <fx-bind ref="instance('default')">
								  <!-- Fragments are relevant if they are actually there and if this TEI is of type partial -->
                                    <fx-bind ref="@fragments" relevant="string() and not(../@type='partial')"></fx-bind>
                                    <fx-bind ref="@type" relevant=". = 'partial'"></fx-bind>
                                    <fx-bind ref="teiHeader">
                                        <fx-bind
                                            ref="fileDesc/titleStmt/title"
                                            required="true()"
                                            constraint="string-length(.) &gt; 0">
                                        </fx-bind>
                                        <fx-bind ref="fileDesc/sourceDesc/msDesc/history">
                                            <fx-bind ref="provenance">
                                                <fx-bind ref="./@when" constraint="checkDate(.)"></fx-bind>
                                                <fx-bind ref="./@notBefore" constraint="checkDate(.)"></fx-bind>
                                                <fx-bind ref="./@notAfter" constraint="checkDate(.)"></fx-bind>
                                            </fx-bind>
                                            <fx-bind ref="origin/origDate">
                                                <fx-bind ref="./@when-custom" constraint="checkDate(.)"></fx-bind>
                                                <fx-bind ref="./@notBefore-custom" constraint="checkDate(.)"></fx-bind>
                                                <fx-bind ref="./@notAfter-custom" constraint="checkDate(.)"></fx-bind>
                                            </fx-bind>
                                        </fx-bind>
                                    </fx-bind>
                                </fx-bind>



                                <fx-instance id="i-fragment" xpath-default-namespace="http://www.tei-c.org/ns/1.0"></fx-instance>
<!--
                                <fx-submission id="s-load-template"
                                               method="get"
                                               url="templates/fore/epidoc-template.xml"
                                               replace="instance"
                                               instance="i-fragment"
                                               validate="false">
                                    <fx-action event="submit-done">
                                        <fx-setvalue ref="instance('i-fragment')/@corresp" value="instance('default')/@xml:id"></fx-setvalue>
                                        <fx-setvalue ref="instance('i-fragment')/@type" value="'partial'">partial</fx-setvalue>
                                        <fx-setvalue ref="instance('i-fragment')/@xml:id" value="concat(instance('default')/@xml:id,'-')"></fx-setvalue>
                                    </fx-action>
                                </fx-submission>
-->
<!--                                <fx-instance id="i-fragments" type="json"></fx-instance>-->
                                <fx-submission
                                    id="s-create-fragment"
                                    url="api/fragment?collection={instance('params')/collection}"
                                    method="post"
                                    ref="instance('default')"
                                    replace="instance"
                                    instance="i-fragment">
                                    <fx-action event="submit-done">
                                        <fx-message><pb-i18n key="form.data-saved"></pb-i18n></fx-message>
                                        <fx-setvalue ref="instance('default')/@fragments" value="concat(instance('default')/@fragments, ' ', instance('i-fragment')/@xml:id)"></fx-setvalue>
                                    </fx-action>
                                    <fx-action event="submit-error">
                                        <fx-message><pb-i18n key="form.save-failed"></pb-i18n></fx-message>
                                        <fx-action src="resources/scripts/showErrors.js"></fx-action>
                                    </fx-action>
                                </fx-submission>

                                <fx-instance id="typeins" src="../edep-sino-data/data/taxonomy/typeins.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="objtyp" src="../edep-sino-data/data/taxonomy/objtyp.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="material" src="../edep-sino-data/data/taxonomy/material.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="paleography" src="../edep-sino-data/data/taxonomy/paleography.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="editor-roles" src="../edep-sino-data/data/taxonomy/editor-roles.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="language-options" src="../edep-sino-data/data/taxonomy/languages.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="language-scope" src="../edep-sino-data/data/taxonomy/language-scope.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="decoration" src="../edep-sino-data/data/taxonomy/decor.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="metre" src="../edep-sino-data/data/taxonomy/metre.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="ligature" src="../edep-sino-data/data/taxonomy/ligature.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="verification-options" src="../edep-sino-data/data/taxonomy/verification.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="publication-status" src="../edep-sino-data/data/taxonomy/publication-status.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="preservation" src="../edep-sino-data/data/taxonomy/preservation.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="religion" src="../edep-sino-data/data/taxonomy/religion.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="document-type" src="../edep-sino-data/data/taxonomy/document-type.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance
                                    id="templates"
                                    src="templates/fore/templates.xml"
                                    xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="vars" shared="true">
                                    <data>
                                        <appdir>[[ $context-path ]]</appdir>
                                        <display-leiden>hidden</display-leiden>
                                        <can-delete>false</can-delete>
                                        <parent></parent>
                                        <uuid></uuid>
                                        <geoid></geoid>
                                        <loggedin>hidden</loggedin>
                                        <xml-valid>true</xml-valid>
                                        <history-term></history-term>
                                        <geography-term></geography-term>
                                        <military-term></military-term>
                                        <language>en</language>
                                        <inited>false</inited>
                                        <is-fragment>false</is-fragment>
                                    </data>
                                </fx-instance>
                                <!-- todo: remove static readonly once new fragment functionality is completely done -->
                                <fx-bind ref="instance('vars')/is-fragment"
                                         relevant="not(exists(instance('default')/@type))"
                                         readonly="true()"></fx-bind>
                                <fx-bind ref="instance('vars')/can-delete" relevant="index('r-fragments') gt 1"></fx-bind>
                                <fx-bind ref="instance('vars')/loggedin" relevant=".='true'"></fx-bind>
                                <fx-bind
                                    ref="instance('vars')/xml-valid"
                                    calculate="editorsValid()"
                                    constraint=".='true'"></fx-bind>

                                <fx-instance id="tmp">
                                    <data>
                                        <dummy>xpath?</dummy>
                                    </data>
                                </fx-instance>

                                <fx-instance id="params">
                                    <data>
                                        <id>[[ page:parameter($context, 'id', '') ]]</id>
                                        <collection>[[ page:parameter($context, 'collection', 'workspace') ]]</collection>
                                        <app>[[ $context-path ]]</app>
                                    </data>
                                </fx-instance>

                                <fx-submission
                                    id="s-load-inscription"
                                    url="api/inscription?id={instance('params')/id}&amp;collection={instance('params')/collection}"
                                    method="get"
                                    replace="instance"
                                    validate="false">
                                    <fx-message event="submit-error">
                                        <pb-i18n key="loading-failed"></pb-i18n>
                                    </fx-message>

                                    <fx-action event="submit-done">
                                        <!--
                                            ### initializing state for 30) 31) 32) dummy switches
                                        -->
                                        <fx-setvalue
                                            ref="instance('vars')/history-term"
                                            value="if(exists(instance('default')//term[@ref='#social-economic-legal-history'])) then 'true' else 'false'"></fx-setvalue>

                                        <fx-setvalue
                                            ref="instance('vars')/geography-term"
                                            value="if(exists(instance('default')//term[@ref='#geography'])) then 'true' else 'false'"></fx-setvalue>

                                        <fx-setvalue
                                            ref="instance('vars')/military-term"
                                            value="if(exists(instance('default')//term[@ref='#military'])) then 'true' else 'false'"></fx-setvalue>
                                    </fx-action>
                                </fx-submission>

                                <fx-submission
                                    id="s-create"
                                    url="api/inscription?collection={instance('params')/collection}"
                                    method="post"
                                    replace="instance">
                                    <fx-action event="submit-done">
                                        <fx-message><pb-i18n key="form.data-saved"></pb-i18n></fx-message>
                                        <fx-unmodified></fx-unmodified>
                                        <!-- response replaced the instance with the stored document:
                                             reflect its id in the page URL and the params instance -->
                                        <fx-setvalue ref="instance('params')/id" value="instance('default')/@xml:id"></fx-setvalue>
                                        <fx-call function="updateUrl(instance('default')/@xml:id)"></fx-call>
                                    </fx-action>
                                    <fx-action event="submit-error">
                                        <fx-message><pb-i18n key="form.invalid-data"></pb-i18n></fx-message>
                                        <fx-action src="resources/scripts/showErrors.js"></fx-action>
                                    </fx-action>
                                </fx-submission>

                                <fx-submission
                                    id="s-save"
                                    url="api/inscription?id={instance('params')/id}&amp;collection={instance('params')/collection}"
                                    method="post"
                                    replace="instance">
                                    <fx-action event="submit-done">
                                        <fx-message><pb-i18n key="form.data-saved"></pb-i18n></fx-message>
                                        <fx-unmodified></fx-unmodified>
                                        <fx-call function="updateUrl(instance('default')/@xml:id)"></fx-call>
                                    </fx-action>
                                    <fx-action event="submit-error">
                                        <fx-message><pb-i18n key="form.invalid-data"></pb-i18n></fx-message>
                                        <fx-action src="resources/scripts/showErrors.js"></fx-action>
                                    </fx-action>
                                </fx-submission>

                                <fx-function signature="gen-id() as xs:string" type="text/javascript">
                                    return createUUID();
                                </fx-function>

                                <fx-instance id="login" type="json">{}</fx-instance>
                                <fx-submission
                                    id="s-login"
                                    ref="instance('login')?*"
                                    url="api/login"
                                    method="post"
                                    replace="instance"
                                    instance="login"
                                    validate="false"
                                    serialization="none">
                                    <fx-setvalue ref="instance('vars')/loggedin" event="submit-error"
                                        >false</fx-setvalue
                                    >
                                    <fx-setvalue ref="instance('vars')/loggedin" event="submit-done">true</fx-setvalue>
                                </fx-submission>
                                <fx-function signature="updateUrl($id as xs:string)" type="text/javascript">
                                    const url = new URL(window.location.href);
                                    url.searchParams.set('id', $id);
                                    history.pushState(null, '', url.toString());
                                </fx-function>

                                <fx-function signature="editorsValid() as xs:boolean" type="text/javascript">
                                    const editors =
                                    form.querySelectorAll('jinn-xml-editor[valid="false"],jinn-epidoc-editor[valid="false"]');
                                    if(editors.length !== 0){ return false; }else{ return true; }
                                </fx-function>

                                <fx-function
                                    signature="shortlang($input as xs:string,$default as xs:string) as xs:string"
                                    type="text/javascript">
                                    if($input) { return $input.substring(0, 2); } return $default;
                                </fx-function>

                                <fx-function
                                    signature="checkDate($value as xs:string) as xs:boolean"
                                    type="text/javascript">
                                    return checkDate($value);
                                </fx-function>
                                <fx-function
                                    signature="sortNames($terms as element()*) as element()*"
                                    type="text/xquery">
                                    let $lang := instance('vars')/language for $term in $terms order by
                                    $term/catDesc[@xml:lang = $lang] return $term
                                </fx-function>
                                <fx-function
                                    signature="sortLang($langs as element()*) as element()*"
                                    type="text/xquery">
                                    for $term in $langs order by $term return $term
                                </fx-function>
                                <fx-function
                                    signature="computeBiblId($bibls as element()*) as xs:string"
                                    type="text/xquery">
                                    max(( 0, for $bibl in $bibls/@xml:id where starts-with($bibl, 'bibl-') return
                                    xs:int(substring-after($bibl, 'bibl-')) )) + 1
                                </fx-function>
                                <fx-function
                                    signature="clipboard($value as xs:string) as xs:string"
                                    type="text/javascript">
                                    console.log($value); navigator.clipboard.writeText($value); return $value;
                                </fx-function>
                                <fx-function
                                    signature="scrollto($selector as xs:string) as xs:string"
                                    type="text/javascript">
                                    const found = document.querySelector($selector); if(found){
                                    found.scrollIntoView({block: "start", inline: "nearest", behavior:"smooth"}); }
                                </fx-function>
                                <!--
                                    <fx-function signature="expander() as xs:boolean" type="text/javascript">
                                    const expander = document.querySelector('#expander');
                                    const details = document.querySelectorAll('details');

                                    if(expander.classList.contains('expanded')){
                                    Array.from(details).foreach(d => {
                                    details.removeAttribute('open');
                                    });
                                    }else{
                                    Array.from(details).foreach(d => {
                                    details.setAttribute('open','open');
                                    expander.classList.addClass('expanded');
                                    });
                                    }
                                    return true;
                                    </fx-function>
                                -->
                            </fx-model>
                            <fx-action event="pb-i18n-update" target="#document">
                                <fx-setvalue
                                    ref="instance('vars')/language"
                                    value="shortlang(event('language'), instance('vars')/language/string())"></fx-setvalue>
                                <fx-refresh force="force"></fx-refresh>
                            </fx-action>

                            <fx-var name="lang" value="instance('vars')/language"></fx-var>

                            <nav aria-labelledby="navigation">
                                <div class="toolbar">
                                    <button class="expander" onclick="expandAll()" title="expand all">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <g fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                <!-- up chevron -->
                                                <path d="M8 9 L12 5 L16 9" />
                                                <!-- down chevron -->
                                                <path d="M8 15 L12 19 L16 15" />
                                            </g>
                                        </svg>
                                    </button>
                                    <button class="expander" title="collapse all" onclick="closeAll()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <g fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                <!-- top chevron (now pointing down) -->
                                                <path d="M8 5 L12 9 L16 5" />
                                                <!-- bottom chevron (now pointing up) -->
                                                <path d="M8 19 L12 15 L16 19" />
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                                <ul>
                                    <li>
                                        <a
                                            href="{uri-path()}#object">
                                            <pb-i18n key="form.identifier">Identifier</pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#findspot">
                                            <pb-i18n key="form.finding"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#location">
                                            <pb-i18n key="form.last-recorded-location"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#verification">
                                            <pb-i18n key="form.verification"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#objectdesc">
                                            <pb-i18n key="form.object-description"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#inscription-field">
                                            <pb-i18n key="form.inscription-field"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#text-description">
                                            <pb-i18n key="form.text-description"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#references">
                                            <pb-i18n key="form.references"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#edition">
                                            <pb-i18n key="form.edition">Textedition</pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#commentary">
                                            <pb-i18n key="form.commentary"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#dating">
                                            <pb-i18n key="form.dating"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#historic-relevance">
                                            <pb-i18n key="form.historic-relevance"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="{uri-path()}#editor">
                                            <pb-i18n key="form.editing"></pb-i18n>
                                        </a>
                                    </li>
                                    <li class="nav-divider"></li>
                                    <li class="noflex">
                                        <!-- these controls just create the attributes they are pointing to in case they are not present in the data -->
                                        <fx-control ref="instance('default')/@fragments" style="display:none;" create="create"></fx-control>
                                        <fx-control ref="instance('default')/@type" style="display:none;" create="create"></fx-control>
                                        <fx-group ref="instance('default')/@fragments[string() and ../@type!='partial']" class="neutral">
                                            <fieldset id="fragment-fields">
                                                <legend>
                                                    <pb-i18n key="form.fragments"></pb-i18n>
                                                </legend>
                                                <fx-repeat id="r-fragments" ref="tokenize(instance('default')/@fragments)" aria-labelled-by="r-fragments-label">
                                                    <template>
                                                        <fx-var name="curr" value="."></fx-var>
                                                        <a href="{uri-relpath()}{.}.xml" target="_blank">{.}</a>
                                                    </template>
                                                </fx-repeat>
                                            </fieldset>
                                        </fx-group>

                                        <fx-group ref="instance('default')/@xml:id[string-length(.) > 0][not(instance('default')/@type='partial')]">
                                            <!-- show trigger only if corresp is empty meaning we are a parent -->
                                            <fx-trigger id="addFragment">
                                                <button><pb-i18n key="form.add"></pb-i18n></button>
                                                <fx-send submission="s-create-fragment"></fx-send>
                                            </fx-trigger>
                                        </fx-group>

                                        <fx-group id="backlink" ref="instance('default')/@type[.='partial']">
                                            <a href="{concat(uri-relpath(),instance('default')/@corresp)}.xml" target="_blank">{instance('default')/@corresp}</a>
                                        </fx-group>
                                    </li>
                                </ul>
                            </nav>
                            <fx-group ref="teiHeader" aria-labelledby="title-lbl" class="outer-group">
                                <h1 id="title-lbl">
                                    <fx-control id="edeptitle" class="title" ref="fileDesc/titleStmt/title" update-event="input">
                                        <label>
                                            <pb-i18n key="form.title"></pb-i18n>
                                        </label>
                                    </fx-control>
                                </h1>

                                <!-- IDENTIFIERs -->
                                <div id="object-wrapper">
[% include "templates/parts/edit/object.html" %]
</div>

                                <fx-group
                                    ref="fileDesc/sourceDesc/msDesc"
                                    id="inscription"
                                    class="neutral">

                                    <!-- FINDSPOT -->
                                    <div id="findspot-wrapper">
[% include "templates/parts/edit/findspot.html" %]
</div>

                                    <!-- PRESENT LOCATION -->
                                    <div id="location-wrapper">
[% include "templates/parts/edit/location.html" %]
</div>
                                </fx-group>

                                    <!-- VERIFICATION -->
                                    <div id="verification-wrapper">
[% include "templates/parts/edit/verification.html" %]
</div>

                                <fx-group
                                    ref="fileDesc/sourceDesc/msDesc"
                                    id="objdesc"
                                    class="neutral">
                                    <!-- OBJECT DESCRIPTION -->
                                    <div id="objectdesc-wrapper">
[% include "templates/parts/edit/objectdesc.html" %]
</div>

                                    <!-- INSCRIPTION FIELD -->
                                    <div id="inscription-field-wrapper">
[% include "templates/parts/edit/inscription-field.html" %]
</div>

                                    <!-- TEXT DESCRIPTION -->
                                    <div id="text-description-wrapper">
[% include "templates/parts/edit/text-description.html" %]
</div>
                                </fx-group>
<!-- languages part (templates/parts/edit/languages.html) intentionally not
     included here: deactivated upstream; language fields live in text-description -->



                                <!-- REFERENCES -->
                                <fx-group id="references" class="references-background">
                                    <fx-group ref="fileDesc/sourceDesc/listBibl" class="outer-group">
                                        <h2>
                                            <pb-i18n key="form.references"></pb-i18n>
                                            <pb-popover>
                                                <edep-icon name="info-outline"></edep-icon>
                                                <template slot="alternate">
                                                    <pb-i18n key="form.hint-references"></pb-i18n>
                                                </template>
                                            </pb-popover>
                                        </h2>

                                        <div id="transmission-wrapper">
[% include "templates/parts/edit/transmission.html" %]
</div>

                                        <div id="prev-editions-wrapper">
[% include "templates/parts/edit/prev-editions.html" %]
</div>
                                        <div id="bibliography-wrapper">
[% include "templates/parts/edit/bibliography.html" %]
</div>
                                        <div id="images-wrapper">
[% include "templates/parts/edit/images.html" %]
</div>
                                    </fx-group>

                                    <!-- DIGITAL IMAGES -->
                                    <fx-group id="dig-images" class="neutral">
                                        <div id="pictures-wrapper">
[% include "templates/parts/edit/pictures.html" %]
</div>
                                    </fx-group>
                                </fx-group>
                            </fx-group>

                            <!-- edition here, splitting the binding group -->
                            <!-- EDITION and COMMENTARY together as they are all stored in BODY -->
                            <fx-group ref="text/body" class="outer-group">
                                <div id="edition-wrapper">
[% include "templates/parts/edit/edition.html" %]
</div>

                                <!--
                                    This won't call the update-cycle for each event as the replace action in its current form does not
                                    call it. The control will refresh the UI when the control looses focus (onblur).
                                -->
                                <div id="commentary-wrapper">
[% include "templates/parts/edit/commentary.html" %]
</div>
                            </fx-group>

                            <fx-group ref="teiHeader" aria-labelledby="title-lbl" class="outer-group">
                                <!-- DATING -->
                                <div id="dating-wrapper">
[% include "templates/parts/edit/dating.html" %]
</div>

                                <div id="historic-relevance-wrapper">
[% include "templates/parts/edit/historic-relevance.html" %]
</div>

                                <div id="editor-wrapper">
[% include "templates/parts/edit/editor.html" %]
</div>
                            </fx-group>

                            <section class="buttonBar">
                                <pb-restricted login="login" group="tei">
                                    <p class="loginMessage" slot="fallback">You need to be logged in to save.</p>

                                    <fx-trigger class="saveBtn" debounce="1000">
                                        <button>
                                            <pb-i18n key="form.save"></pb-i18n>
                                        </button>
                                        <fx-action if="not(exists(instance('params')/id))">
                                            <fx-send submission="s-login"></fx-send>
                                            <fx-send submission="s-create"></fx-send>
                                        </fx-action>
                                        <fx-action if="exists(instance('params')/id)">
                                            <fx-send submission="s-login"></fx-send>
                                            <fx-send submission="s-save"></fx-send>
                                        </fx-action>
                                    </fx-trigger>
                                    <fx-trigger>
                                        <a href="[[ $context-path ]]/edit.html">
                                            <pb-i18n key="form.new">Neuer Eintrag</pb-i18n>
                                        </a>
                                    </fx-trigger>
                                </pb-restricted>
                                <fx-trigger>
                                    <a href="[[ $context-path ]]/browse.html">
                                        <pb-i18n key="form.list">Zur Liste</pb-i18n>
                                    </a>
                                </fx-trigger>
                            </section>

                            <fx-control ref="instance('vars')/xml-valid" class="valid-warning">
                                <fx-alert>
                                    <pb-i18n key="form.invalid-data"></pb-i18n>
                                </fx-alert>
                                <input style="display: none" />
                            </fx-control>
                        </fx-fore>
                    </main>
</template>
